---
import { Button } from 'free-astro-components'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="Únete a Glocal Limits y sé parte del cambio hacia un futuro sostenible">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="Únete a nosotros para crear un <strong>futuro sostenible</strong>"
      description="Empodérate para tener un impacto positivo en el medio ambiente con Glocalimits España."
    >
      <div>
        <Button href="#form" label='Únete ahora' variant='secondary' />
      </div>
      
    </Hero>
    <Intro />
    <CTA
      align="center"
      title="¿Listo para unirte al <strong>cambio?</strong>"
      description="Explora cómo puedes ser parte de la solución y contribuir a un futuro sostenible. En Glocal Limits, te ofrecemos las herramientas y el apoyo necesario para marcar la diferencia."
    >
      <Button href="/components/button" label="Enviar" variant='secondary'  />
    </CTA>
  </main>
  <Footer />
</Layout>
