---
import Card from '../components/Card.astro'
---

<section class="py-16 lg:py-32">
  <div class="container flex flex-col gap-16">
    <div class="flex flex-col gap-4">
      <h2 class="text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium">
      <strong> En Glocal Limits,</strong> nos basamos en tres pilares fundamentales
      </h2>
      <p class="text-neutral-500 lg:text-lg">
        buscamos unir a suficientes personas que quieran hacer el cambio a una escala operativa. Creemos que, juntos, podemos crear un impacto global significativo. No se trata solo de reducir emisiones, sino de inspirar a otros a unirse a esta misión y construir un futuro sostenible para las generaciones venideras.
      </p>
    </div>

    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon="search"
          title="Datos científicos como base"
          description="Nos apoyamos en estudios rigurosos, como los 9 límites planetarios del Instituto de Ciencias de Estocolmo, para entender los umbrales críticos que no debemos cruzar. Sabemos que el 69.15% de los países emiten más de lo que sus ecosistemas pueden absorber, y solo el 27.86% son regenerativos."
        />
      </li>
      <li>
        <Card
          type="light"
          icon="calendar"
          title="Aumentar los países regenerativos"
          description='Enfocamos nuestros esfuerzos en el 3.98% de países (como Bután, Fiyi y Panamá) que, con políticas de reforestación más fuertes, pueden convertirse en los "pulmones del planeta". Nuestra meta es que el 30% de los países sean regenerativos, compensando las emisiones del resto.'
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="user-check"
          title="Economía de impacto"
          description="Implementamos un modelo de compensación de carbono basado en la plantación de árboles. Por ejemplo, un ciudadano británico debería plantar 2,088 árboles para compensar las 5.4 toneladas de CO₂ que emite al año. Cada árbol plantado contribuye a frenar el calentamiento global."
        />
      </li>
    </ul>
  </div>
</section>
